/* CSS Custom Properties */
:root {
    --Hydro: #0384fc;
    --Electro: #9003fc;
    --Anemo: #03fcd3;
    --Cryo: #03e3fc;
    --Dendro: #62fc03;
    --Pyro: #fc2c03;
    --Geo: #fcb603;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #4a4e4d;
    display: flex;
    justify-content: center;
}
main {
    background-color: #F5F3F7;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    max-width: 50%;
    flex:auto;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}
.column {
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5px;
}
#dropperBox {
    justify-content: flex-start;
}
#charLvl {
    font-size: 2em;
    width: 3ch;
    text-align: end;
    border-width: 0px;
    border-radius: 10px;
}
#charName {
    margin: 0px;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}
#boxHome .row .column:nth-child(2) {
    flex:auto;
    padding: 10px;
    width: 30vw;
    border-radius: 10px;
}
.visible {
    background-color: green;
}
#ascMatBox {
    justify-content: flex-end;
}
#ascMatBox label:first-of-type{
    margin-left: 0;
}
#ascMatBox label{
    margin-left: auto;
}
h2,h3 {
    margin: 0px;
    margin-bottom: 5px;
}